{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block body %}
<body style="background-color:#F5F6F8">
	{% include('navbar/index.html.twig') %}
	<div class="flex justify-center">
		<div class="w-85 h-auto mt-20 section-title text-sm font-semibold text-tahiti-100 sm:text-sm sm:tracking-tight lg:text-5xl bg-white" style="text-align: center; ">
			{% include('slider/index.html.twig') %}

			<div class="flex mt-14">
				<div class="w-75">
                <!-- Fast and Curious -->
					<div class="flex justify-start flex-col bg-konbini-600 text-white h-fit">
						<div class="flex justify-start">
							<a class="my-6 mx-6 bg-white text-konbini-600 text-s rounded-full pt-0.5 pr-3 pb-0.5 pl-3" href="">Fast and Curious ></a>
						</div>
						<div class="my-6 mx-8 flex justify-start">
							<p>Nos dernières vidéos</p>
						</div>
						<div class="my-3 mx-8 flex justify-start">
						
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-white text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
										<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-white text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-white text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
							
						</div>
                        <div class="flex justify-start mt-28">
							<a class="my-6 mx-6 bg-white text-konbini-600 text-s pt-0.5 pr-3 pb-0.5 pl-3" href="">Voir la playlist</a>
						</div>
					</div>
                 <!-- Pop Culture -->
                <div class="flex justify-start flex-col bg-white h-fit mt-3">
						<div class="flex justify-start">
							<a class="my-6 mx-6 bg-konbini-700 text-white text-s rounded-full pt-0.5 pr-3 pb-0.5 pl-3" href="">Pop Culture ></a>
						</div>
						<div class="my-3 mx-8 flex justify-start">
						
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
										<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
							
						</div>
                        <div class="flex justify-start mt-28">
						</div>
					</div>
                    <!-- Société -->
                <div class="flex justify-start flex-col bg-white h-fit mt-3">
						<div class="flex justify-start">
							<a class="my-6 mx-6 bg-konbini-100 text-konbini-600 text-s rounded-full pt-0.5 pr-3 pb-0.5 pl-3" href="">Société ></a>
						</div>
						<div class="my-3 mx-8 flex justify-start">
						
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
										<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
							
						</div>
                        <div class="flex justify-start mt-28">
						</div>
					</div>
                    <!-- Fin div -->
                    <!-- Internet -->
                <div class="flex justify-start flex-col bg-white h-fit mt-3">
						<div class="flex justify-start">
							<a class="my-6 mx-6 bg-konbini-400 text-white text-s rounded-full pt-0.5 pr-3 pb-0.5 pl-3" href="">Internet ></a>
						</div>
						<div class="my-3 mx-8 flex justify-start">
						
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
										<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
							
						</div>
                        <div class="flex justify-start mt-28">
						</div>
					</div>
                    <!-- Fin div -->
                    <!-- Lifestyle -->
                <div class="flex justify-start flex-col bg-white h-fit mt-3">
						<div class="flex justify-start">
							<a class="my-6 mx-6 bg-konbini-400 text-white text-s rounded-full pt-0.5 pr-3 pb-0.5 pl-3" href="">Lifestyle ></a>
						</div>
						<div class="my-3 mx-8 flex justify-start">
						
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
										<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
							
						</div>
                        <div class="flex justify-start mt-28">
						</div>
					</div>
                    <!-- Fin div -->
                    <!-- Podcast -->
                <div class="flex justify-start flex-col bg-white h-fit mt-3">
						<div class="flex justify-start">
							<a class="my-6 mx-6 bg-konbini-600 text-white text-s rounded-full pt-0.5 pr-3 pb-0.5 pl-3" href="">Podcast ></a>
						</div>
						<div class="my-3 mx-8 flex justify-start">
						
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
										<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
								
								
									<div class="p-4 w-72 h-40 hover:underline bg-tahiti-600 text-left">
										<img src="{{ asset('build/images/PANAYOTIS-FAST-_YT.00_00_21_09.Still001.webp')}}" alt="Image" class="object-cover w-full h-full rounded-lg mb-3">
										<a class="text-lg font-bold mt-6" href="">Plutot Vine ou TikTok? </br>
                                        Panayotis Pascot aka l'homme le plus drôle du monde à tranché</a>
										
									</div>
							
						</div>
                        <div class="flex justify-start mt-28">
						</div>
					</div>
                    <!-- Fin div -->
                    
				</div>
				<div class="w-35">
					<div class="bg-konbini-100 h-10 mx-8 rounded-lg"></div>
					<div class="bg-konbini-100 h-10 mx-8 rounded-lg mt-10"></div>
				</div>
			</div>


		</div>
	</div>
</body>



{% endblock %}
